{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block vote %}
<div class="span6">
  <h3>Guililguilist</h3>
  <p><a class="btn btn-large btn-primary" href="#">Je supporte la Guili</a></p>
</div>
<div class="span6">
  <h3>Wall'E</h3>
  <p><a class="btn btn-large btn-danger" href="#">Je supporte la Wall'Est</a></p>
</div>
{% endblock %}


{% block tendances %}
<div id="tendance">
</div>
{% endblock %}



{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() { 
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'tendance',
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
});
})
</script>
{% endblock %}
