{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block vote %}
<div class="span6">
  <h3>Guililguilist</h3>
  <p><a class="btn btn-large btn-primary" href="#">Je supporte la Guili</a></p>
</div>
<div class="span6">
  <h3>Wall'E</h3>
  <p><a class="btn btn-large btn-danger" href="#">Je supporte la Wall'Est</a></p>
</div>
{% endblock %}


{% block tendances %}
Highcharts
{% endblock %}
